<a href="https://colab.research.google.com/github/COBR-A/prabhat/blob/main/prabhat_mishra_practice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# program 1
 **program to input name,marks in three subject and find the total marks and percentage**

In [ ]:
# practicle 1
name=input("enter your name\t")
a=int(input("enetr marks\t"))
b=int(input("enetr marks\t"))
c=int(input("enetr marks\t"))
d=a+b+c
e=d/3
print()
print("science\t\t",a)
print("hindi\t\t",b)
print("maths\t\t",c)
print()
print()
print("you scored\t\t",d)
print("your precentage\t\t",e,"%")

#program to calculate area of shapes like square ,rectangle ,and circle

In [ ]:

print ("""
to find area of rectangle prees 1
to find area of square prees 2
to find area of triangle prees 3
to find area of circle prees 4

""")
b=int(input("enter your option\t\t"))
if b==1:
    length=int(input("enter length\t\t"))
    breath=int(input("enter breath\t\t"))
    d=leangth*breath
    print("your area is =\t",d)
elif b==2:
    side=int(input("enter side\t\t "))
    d=side*side
    print("your area is =\t",d)
elif b==3:
    l=int(input("enter altitude"))
    b=int(input("enter base "))
    d=1/2*l*b
    print("your area is =",d)
elif b==4:
    length=int(input("enter raduis "))
    d=22/7*length*length
    print("your area is = ",d)
else:
    print ("sory")

## program 3
**program to find out compund intrest and simple intreset**

In [ ]:
#
p=float(input("enter principle\t\t"))
r=float(input("enter rate\t\t"))
t=float(input("enter time\t\t"))
c=p*(1+r/100)**t
c_i=c-p
si=p*r*t
s_i=si/100
print()
print()
print("compund intrest\t\t",c_i)
print()
print("simple intrest\t\t",s_i)

# program 4
**program to convert fahrenheit to celcius**

In [ ]:
f=int(input("enter temp."))
print()
t=f-32
h=t*5/9
print()
print("tempeture is", h ,"c")

# program 5
**program to convert feet into hight**

In [ ]:
f=float(input("enter height in feet "))
print()
print("height in inches is\t\t",f*12)

# program 6
**pragram a code to check whether no is even or odd**

In [ ]:
num=int(input("enter number\t"))
print()
print()
a=num%2
if a==0:
  print("no is even")
else:
  print("no is odd")

# program  7
**pragram a code to check whether no is postive or negative**

In [ ]:
num=int(input("enter number\t"))
print()
print()
if a>0:
  print("no is postive")
elif a==0:
  print("no is zero")
else:
  print("no is negative")

In [ ]:
#Q7
x=3
y=20
z=y//3
w=y%3
print(z, w, sep="####")

In [ ]:
#q8
x=10
y=5
z=3
w=x+y*z
print(w)

In [ ]:
x=2
y=1
z=3
w=x**y**z
print(w)

In [ ]:
s1= "Happy"
s2= "Birthday"
x=2
s3= s1*3 + s2
print(s3)

#  LIST AND TUPLES

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
print(len(lst1))

In [ ]:
lst1=[10,12,37,56]
lst1.append([40,50])
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.append(lst2)
print(len(lst1))
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.extend([40,50])
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.extend(lst2)
print(len(lst1))
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst3=lst1+lst2
print(lst3)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst4=lst1*2
print(lst4)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst3=lst1+2
print(lst3)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst3=lst1+[2]
print(lst3)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.sort(reverse=True)
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
max(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]

#min(lst2)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.pop()
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.pop(2)
print(lst1)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst2.remove(90)
print(lst2)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst2.pop(100)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
del lst2[2:4]
print(lst2)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
del lst2[1]
print(lst2)

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.pop(6)

In [ ]:
lst2=[22,39,46,81,74,39]
print(lst2.count(39))

# Flow of Control and Conditions

In [ ]:
#Q1: Output?
x = [ 'a', 'b', 'c', 'd']
for i in x:
  print(i,end="...")

In [ ]:
x =[11,22,33,44,55]

for i in range(5):  #range(0,5) #range(10,50,3)
  print (x[i])

In [ ]:
sum=0
for i in range(10):
	sum=sum+i
print(sum)

In [ ]:
prod=1
for x in range(5,21,5):
	prod=prod*x
print(prod)

In [ ]:
sum=0
for x in range (10,0):
	sum=sum+x
print(sum)

In [ ]:
x=15
If x>15:
	print("Welcome!")
print("To Python")

In [ ]:
y=20
if y>=30:
	print("You are Welcome")
else:
	print("Not Welcome")
print("to Python")

In [ ]:
x=0
if  x>0:
	print("positive number")
elif x<=0:
	if  x==0:
		print( "Number is Zero")
	else:
		print("Negative Number")

In [ ]:
username= "TARAN2020"
password= "T123#bbps"
if  username=="TARAN2020" and password="T123@bbps":
	print( "Welcome to Python")
else:
	print("Invalid username and password")

In [ ]:
#Find out error in the code given below:
x= input("enter the marks: ")
if x<=100;
	print("Please enter marks less than 100")
Else
	print(" Marks scored are:" , x)

#Program to perform basic operations (+-*/)

In [ ]:
print("""

thanks for coming
now calculater is your
thanks
""")
print()
print()
print("""
to multiply enter *
to devide enter /
to divide and to find remainder enter %
to aadd +
to subtracting -
to power enter **
to calculate //
""")
print()
b=int(input("enter number"))
c=input("enter option")
d=int(input("enter number"))
print()
print()
print()
if c=="*":
      print(b*d)
elif c=="/":
      print(b/d)
elif c=="%":
      print(b%d)
elif c=="+":
      print(b+d)
elif c=="-":
      print(b-d)
elif c=="**":
      print(b**d)
elif c=="//":
      print(b/d)
else :
     print("sorry option is wrong")

#program 2 (menu given program)

In [ ]:
a=1
while a==1 or a==1 :
  print("""
  press 1 to add no in list
  press 2 to find maximum marks
  press 3 to find minimum marks
  press 4 to find total number of element in list
  press 5 to arange in assending oder
  press 6 to count the no
  """)
  c=int(input("enter number "))
  list1=[55,65,75,100,85,90,89,76,56,100,47,75,100,100,89,95,99,100,59,79]
  if c==1:
    add_element=int(input(" enter number "))
    list1.append([add_element])
    print(list1)
  elif c==2:
    print("maximum no in list :-")
    print(max(list1))
  elif c==3:
    print("minimum no in list :-")
    print(min(list1))
  elif c==4:
    print("total no. in list :-")
    print(len(list1))
  elif c==5:
    print("accending odder of list :-")
    g=list1.shot(True)
    print(g)
  elif c==6:
    print("  number repeted in  list :-")
    d=list1.count(100)
    print(d)
  else :
    print("sorry")

2

In [ ]:
name=input("enter your name\t\t")
a=1
while a==1 or a==1:
  print(" welcome ",name)
  print(" press 1 for adding element ")
  print(" press 2 for deleting  element ")
  print(" press 3 for aranging in decending odere  element ")
  print(" press 4  to find value in list ")
  print(" press 5 to find  max and minimum  element ")
  f=int(input("enter number"))
  list_1=[12,45,67,89,75,90,23,43,67,89,90,67,87,1,23,99,100,56.78,20]
  if f==1:
    print(list_1)
    b=int(input("enter nuber  to add in above list"))
    list_1.append(b)
    print(list_1)
    print()
  elif f==2:
    print("list before removing")
    print(list_1)
    c=int(input("enter number from above list "))
    list_1.remove(c)
    print("list after removing")
    print(list_1)
  elif f==3:
    print("list before sorting ")
    print(list_1)
    print("list before sorting  in ascending ")
    list_1.sort(reverse=True)
    print(list_1)
  elif f==4:
    val=int(input("enter number"))

    for i in list_1:

        if i==val:
          res=list_1.index(val)
          break
        else:
          s=-1
    if s==-1:
        print(s)
    else:
        print(s)
  elif f==5:
    print(max(list_1))
    print(min(list_1))
  else :
    print("sory",name,"check the value")

#program other

In [ ]:
a=int(input(" enter 1 to print  oddn o. or 2 print even no. \n "))
d=int(input("number til you want to print \n     "))
if a==1 :
  for i in range (1,d,2): # to find odd number between 1 to your choice
    print(i)
elif a==2:
  for j in range (0,d,2):# to find even number between 0 to your choice
    print(j)
else :
  print("sorry  ")

In [ ]:
num1=int(input("enter number"))
num2=int(input("enter number"))
num3=int(input("enter number"))
if num1>num2:
  if num1>num3:
    print("hi")
  else:
      print("hel")
elif num2>num1:
  if num2>num3:
    print("bye")
  else:
    print("next")

In [ ]:
a=1

while a<=5:
     d=int(input("enter number"))
     if d<18:
          print("number is less")
     elif d>18:
          print ("number isless than 30 ")
     elif d==18:
          print (" you won")
     else:
          print ("lose")
          a=+1
     break

to print no till user wants

In [ ]:
a=int(input("enter number  "))
for i in range (1,a):
  print(i)

***function***

In [ ]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()


**program to input nuber and calculate factorial egample**

In [ ]:
fac=1
n = int(input("Enter Number for factorial"))
for i in range (n,0,-1):
    print(i)
    fac=fac*i
print("Factorial:",fac,end = ' ')

In [ ]:
lst1=[10,12,37,56]
lst2=[22,39,46,81,74,39]
lst1.append(lst2)
print(len(lst1))
print(lst1)

to check no of candle

In [ ]:
no_ofcandles=int(input(" no  of candles _ maximum height of 10 candless alowed and repetation alowed "))
birthday_candles=list(input(" enter height of candles it is a list dont put comaas"))
list2=list(birthday_candles)
len (list2)

to check length of word is grater than 1 or **not**

In [ ]:
word=input()
b=len(word)
if b>1:
    print("yes")
else :
    print("no")

#pandas

In [ ]:
import pandas as pd
h=('aa','34','10.8')
s=pd.Series(h)
print(s)

In [ ]:
#data frames
data={'name':['shivam mishra','sanndhya mishra '],
      'date of birth': ['22-04-2005','16-05-2009'],
 }
df=pd.DataFrame(data)
print(df)

In [ ]:
#modification in series in dictionaries
data={'  name ':['shivam mishra','sanndhya mishra '],
      'date of birth': ['22-04-2005','16-05-2009'],
 }
df=pd.DataFrame(data)
df['father']='  girdhari mishra'#add colums to series
df['class']=' unkown'
df.index= ['one','two']#add index value to series
del df['class']# dele row
print(df)

df=pd.read_csv('/content/gdrive/My Drive/csv/data/project.csv',index_col=None)
print(df)

csv files
**to uplod write**  
/content/drive/My Drive/csv/data/filename/file

In [ ]:
import pandas as pd
print("""
enter 1 to open  cast.cvs
enter 2 to open titles.cvs
""")
a=int(input("enter nuumber"))
if a==1:
  df=pd.read_csv('/content/gdrive/My Drive/csv/data/cast.csv',index_col=None)
  s=df.head()#only show first five elements of data frame
  print(s)
else:
  df=pd.read_csv('/content/gdrive/My Drive/csv/data/titles.csv',index_col=None)
  p=df.tail()#only show last five elements of data frame
  d=len(df)#to see total no rows and colum
  print(p)
  print(d)

pandas

In [ ]:
import pandas as pd
print("""
enter 1 to open  cast.cvs
enter 2 to open titles.cvs
""")
a=int(input("enter nuumber"))
if a==1:
  df=pd.read_csv('/content/gdrive/My Drive/csv/data/project.csv',index_col=None)
  s=df.head()#only show first five elements of data frame
  print(s)
else:
  df=pd.read_csv('/content/gdrive/My Drive/csv/data/titles.csv',index_col=None)
  p=df.tail()#only show last five elements of data frame
  d=len(df)#to see total no rows and colum
  print(p)
  print(d)

#Graphs

In [ ]:
#basic knowldge to make line graph
import matplotlib.pyplot as plt
x=[2,8]
y=[6,7]
plt.plot(x,y)# to creat line
plt.title("demo of line chart ") # to give title
plt.xlabel("time") # label names of x axsis
plt.ylabel("distance")# label names of y axsis
plt.show # to show line

In [ ]:
import matplotlib.pyplot as plt
x=[2,3,4,5,8]
y=[1,2,3,5,6,]
plt.plot(x,y, color="red" , marker= "+" , markeredgecolor="black",
         linewidth="4", linestyle="dashed" )# togive diff layout
plt.title("demo of line chart ") # to give title
plt.xlabel("time") # label names of x axsis
plt.ylabel("distance")# label names of y axsis
plt.show # to show line

In [ ]:
##demo of line chart
import matplotlib.pyplot as plt
x=[2,8]
y=[6,7]
plt.plot(x,y,"r+-")# shotcut for laye out full explained above
plt.title("demo of line chart ") # to give title
plt.xlabel("time") # label names of x axsis
plt.ylabel("distance")# label names of y axsis
plt.show # to show line

In [ ]:
#multi graphs
import matplotlib.pyplot as plt
x=[1,2,3,4,]
y=[23,41,26,10]
z=[10,20,30,40]
plt.plot(x,y,'r+-',label="shyam",linewidth=3)# to creat line
plt.plot(x,z,'b+-',label="ram",linewidth=3)# to creat line
plt.legend(loc="best")
plt.show() # to show line

In [ ]:
import matplotlib.pyplot as plt
boy=[10,29,39,47,]
girl=[23,41,26,10]
x=np.arange(4)
plt.bar(x, boy ,width=0.2,color='b',label="boy")
plt.bar(x+ .2, girl,width=0.2,color='r',label="girls")
plt.xticks([0,1,2,3])
plt.legend(loc="best")
plt.title("admission per week ") # to give title
plt.xlabel("week") # label names of x axsis
plt.ylabel("admision")# label names of y axsis
plt.show()

In [ ]:
import matplotlib.pyplot as plt
x=["english","hindi","maths","science","soc.sc"]
y=[90,89,99,45,56]
plt.bar(x,y,color=["green","blue","yellow","pink","orange"],width=0.4)
plt.title("Class X-Preboard Marks")
plt.xlabel("subjects")
plt.ylabel("marks")
plt.show

In [ ]:

import matplotlib.pyplot as plt
x=['   cricket   ','     football     ','       basketball      ','        volleyball     ','   chess     ','     tennis     ','badminton']
y=[45,53,99,44,66,22,37]
plt.bar(x,y,color=["green","red","yellow","blue","pink","orange","indigo"],width=0.3)
plt.title(" bar graph ") # to give title
plt.xlabel("sports") # label names of x axsis
plt.ylabel("no of student")# label names of y axsis
plt.show # to show line

In [ ]:
import matplotlib.pyplot as plt
x=[35,245,210,175,280]
y=['school bus','private bus','bicycle','rikshaw','on foot']
plt.pie(x,labels=y)# shotcut for laye out full explained above
plt.title(" modes of transport  by school studebts") # to give title
plt.show # to show graph

In [ ]:
import matplotlib.pyplot as plt
y=[140,160,130,110,170]
x=['JUNE','JULY', 'AUG','SEP','OCT' ]
plt.plot(x,y,'b+-',label="RAINFALL",linewidth=3,markeredgecolor="black")
plt.title("line chart ") # to give title
plt.xlabel("months") # label names of x axsis
plt.ylabel("rain fall in mms")# label names of y axsis
plt.show # to show line

#project on sikkim

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('/content/gdrive/My Drive/project.csv')
x=df['year']
y=df['population']
plt.plot(x,y,'r+-',label="poulation",linewidth=3)
plt.title(" line chart ") # to give title
plt.xlabel("population") # label names of x axsis
plt.ylabel("year")# label names of y axsis
plt.show # to show line

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('/content/gdrive/My Drive/project.csv')
x=df['year']
y=df['net change']
plt.plot(x,y,'r+-',label="poulation",linewidth=3)
plt.title("line chart ") # to give title
plt.xlabel("NET CHANGE") # label names of x axsis
plt.ylabel("year")# label names of y axsis
plt.show # to show line

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df=pd.read_csv('/content/gdrive/My Drive/project.csv')
x=df['year']
y=df['rate %']
plt.plot(x,y,'r+-',label="poulation",linewidth=3)
plt.title(" line chart ") # to give title
plt.xlabel("rate ") # label names of x axsis
plt.ylabel("year")# label names of y axsis
plt.show # to show line